body {
}

.titleSection {
  color: rgb(255, 0, 0);
  font-family: 'jua';
  font-size: 28px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#home-button {
  width: 50px;
}

.allPosition {
  padding: 30px 150px 20px 150px;
}

.topPosition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 350px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  float: left;
}

.moviePic {
  width: 50%;
}

.moviePic > img {
  float: left;
  border-radius: 10px;
}

.contents {
  position: relative;
  bottom: 200px;
  width: 50%;
  float: right;
  color: white;
}

.contents1 {
  font-size: 18px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme {
  font-family: 'jua';
  font-size: 24px;
  font-weight: bold;
}

.summary {
  height: 160px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0px;
  padding: 10px;
}

.contents2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.genre {
  width: 300px;
  display: flex;
  align-items: center;
}

.date {
  width: 160px;
  display: flex;
  align-items: center;
}

.rate {
  width: 160px;
  display: flex;
  align-items: center;
}

.bottomPosition {
  background-color: blueviolet;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
}

#writer {
  width: 100px;
  height: 20px;
  text-align: center;
}

#password {
  width: 100px;
  text-align: center;
  height: 20px;
}

#review-input {
  height: 40px;
  width: 700px;
}

#review-button {
  height: 46px;
}

.reviews {
  background-color: gray;
  height: 80px;
  margin: 0px;
  overflow-y: auto;
  padding: 10px;
}
